/* Base Styles (Mobile-First) */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 1rem;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    line-height: 1.5;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: white;
    width: 100%;
    margin: auto;
    padding: 1rem;
}

header{
    margin:1.25rem;
}

.wrapper {
    display: flex;
    flex-direction:column;
    /* justify-content: space-between; */
    gap: 10px;
    margin:1.25rem;
}

.contact, .skills, .education, .profile, .experience {
    margin: 1.25rem 0;
}

.contact h3, .skills h3, .education h3, .profile h3, .experience h3 {
    margin: 1rem 0;
}

.col1, .col2 {
    flex: 1 1 50%;
}

.contact p, .education p {
    margin: 0.2rem 0 0.2rem 0.3rem;
}

.contact a {
    text-decoration: none;
    color: black;
    word-break: break-word;
}

.contact .icon {
    margin-right: 0.5rem;
}

.skills ul li {
    margin: 0.2rem 0 0.2rem 1.25rem;
}

.education p {
    margin: 0.3rem;
}

.education h5{
    font-size:0.9rem;
}

.profile {
    text-align: justify;
}

.experience ul li {
    margin: 0.5rem 1.25rem;
}

.job {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9rem;
    margin: 0.3rem 0;
    color: #333;
}

.timeline {
    font-style: italic;
}

.jobs {
    margin: 1.5rem 0;
    line-height:1.6;
}

/* Responsive Adjustments for Larger Screens */
@media (min-width: 768px) {
    .container {
        max-width: 70%;
    }
    .wrapper {
        flex-direction: row;
        gap: 15px;
    }
}

/* @media (min-width: 1024px) {
    .wrapper {
        flex-direction: row;
        gap: 15px;
    }
} */
